@page "/orders/list"
@using ApplicationCore.Features.CreateOrderRelationship
@using ApplicationCore.Features.OrderList
@using ApplicationCore.Features.Orders.OrderRelease
@using ApplicationCore.Shared.Components
@inject OrderListPageViewModel DataContext 

<h1 class="text-3xl mb-2">Orders</h1>

<section>
    <div class="flex flex-row space-x-5">
        <input type="text" class="input-text" placeholder="Search" @oninput="OnSearchTermChange" />

        <div class="grid grid-cols-1">
            <label class="text-xs">Vendors</label>
            <select @bind="DataContext.VendorId" class="border">
                <option value="@Guid.Empty" selected>All</option>
                @foreach (var vendor in DataContext.Vendors) {
                   <option value="@vendor.Id">@vendor.Name</option> 
                }
            </select>
        </div>

        <div class="grid grid-cols-1">
            <label class="text-xs">Customers</label>
            <select @bind="DataContext.CustomerId" class="border">
                <option value="@Guid.Empty" selected>All</option>
                @foreach (var customer in DataContext.Customers) {
                   <option value="@customer.Id">@customer.Name</option> 
                }
            </select>
        </div>
    </div>
    <div class="my-5 flex space-x-5">
        @if (DataContext.SelectedOrders.Any()) {
            <div class="flex-none">
                <OrderReleaseWidget OrderIds="DataContext.SelectedOrders.Select(o => o.Id)"/>
            </div>
            <div class="flex-none">
                <CreateOrderRelationshipsButton OrderIds="DataContext.SelectedOrders.Select(o => o.Id)"/>
            </div>
        }
    </div>
    <OrderListWidget SearchTerm="@DataContext.SearchTerm" VendorId="DataContext.VendorId" CustomerId="DataContext.CustomerId" @ref="_orderList" />
</section>

