@using Domain.Orders;
@using Domain.Components
@using static ApplicationCore.Features.Orders.Details.Views.OrderDetails;
@using Domain.Orders.Entities.Products;
@using Domain.Orders.Entities.Products.Closets;

<div class="overflow-x-auto">
    <table class="table-auto w-full">
        <thead class="border-b">
            <tr>
                <th class="p-5">#</th>
                <th class="p-5">Qty</th>
                <th class="p-5">SKU</th>
                <th class="p-5">Width</th>
                <th class="p-5">Length</th>
                <th class="p-5">Unit $</th>
                <th class="p-5">Ext. $</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var row in ClosetParts) {
            <tbody class="hover:bg-blue-500/10 border-b">
                <tr>
                    <td class="whitespace-nowrap p-5 text-center">@row.ProductNumber</td>
                    <td class="whitespace-nowrap p-5 text-center">@row.Qty</td>
                    <td class="whitespace-nowrap p-5 text-center">@row.SKU</td>
                    @if (UseInches) {
                        <td class="whitespace-nowrap p-5 text-center">@((MarkupString)row.Width.GetFormatedFraction())"</td>
                        <td class="whitespace-nowrap p-5 text-center">@((MarkupString)row.Length.GetFormatedFraction())"</td>
                    } else {
                        <td class="whitespace-nowrap p-5 text-center">@row.Width.AsMillimeters().ToString("0.00")</td>
                        <td class="whitespace-nowrap p-5 text-center">@row.Length.AsMillimeters().ToString("0.00")</td>
                    }
                    <td class="whitespace-nowrap p-5 text-center">@row.UnitPrice.ToString("$0.00")</td>
                    <td class="whitespace-nowrap p-5 text-center">@((row.UnitPrice * row.Qty).ToString("$0.00"))</td>
                    <td class="p-5">
                        @if (ActionColumn is not null) {
                            @ActionColumn(row)
                        }
                    </td>
                </tr>

                @if (row.Comment != string.Empty) {
                    <tr>
                        <td class="p-5 font-bold text-red-500" colspan="8">
                            Customer Comment @row.Comment
                        </td>
                    </tr>
                }
                @foreach (var note in row.ProductionNotes) {
                    <tr>
                        <td class="p-5 font-bold text-red-500" colspan="8">
                            @note
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>


@code {

    [Parameter]
    public RenderFragment<IProduct>? ActionColumn { get; set; } = null;

    [Parameter]
    public IEnumerable<IClosetPartProduct> ClosetParts { get; set; } = Enumerable.Empty<IClosetPartProduct>();

    [Parameter]
    public bool UseInches { get; set; }

}
