@using ApplicationCore.Features.OpenDoorOrders;
@using ApplicationCore.Features.OpenDoorOrderFile;
@using Domain.Infrastructure.Bus;
@using Domain.Components
@using static Domain.Components.Button;
@inject IBus Bus
<h3>Open Door Orders</h3>

@if (!string.IsNullOrEmpty(_error)) {
    <span class="text-red-500">@_error</span>
}

@if (_isLoading) {
    <span>Loading...</span>
} else {

    @if (_openDoorOrders.Any()) {

        @if (_openDoorOrders.Any(c => c.IsSandBoxed)) {
            <span class="text-red-500">Excel Order Form is In Protected View - Enable Editing to Continue</span>
        }

        <table class="table-auto">
            <thead class="border-b border-slate-300">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Customer</th>
                    <th>Vendor</th>
                    <th>Released</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in _openDoorOrders) {
                    <tr title="@(order.ReleasedDate is null ? "" : "Order has been previously released.")" class="text-center border-b @(RowClass(order))" @onclick="() => SelectOrder(order)">
                        <td class="p-5">@order.OrderNumber</td>
                        <td class="p-5">@order.OrderName</td>
                        <td class="p-5">@order.Customer</td>
                        <td class="p-5">@order.Vendor</td>
                        <td class="p-5">@(order.ReleasedDate?.ToShortDateString() ?? string.Empty)</td>
                    </tr>
                }
            </tbody>
        </table>
    } else {
        <div>
            <span>No open door orders were found</span>
        </div>
    }

    <div class="mt-5">
        <Button OnClickAsync="Close" Color="ButtonColor.Danger">Close</Button>
        <Button OnClick="LoadOpenOrders" Color="ButtonColor.Secondary">Refresh</Button>
    </div>

    <hr class="my-6" />

    <div>
        <DoorOrderNumber />
    </div>

}


@code {

    [CascadingParameter]
    private BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private bool _isLoading = true;
    private List<DoorOrder> _openDoorOrders = new();
    private string _error = "";

    protected override void OnInitialized() {
        base.OnInitialized();
        LoadOpenOrders();
    }

    private void LoadOpenOrders() {

        _isLoading = true;
        _error = string.Empty;
        StateHasChanged();

        _ = Task.Run(() => {

            var response = Bus.Send(new GetOpenDoorOrders.Query()).Result;
            response.Match(
                orders => _openDoorOrders = new(orders),
                error => {
                    _openDoorOrders = [];
                    _error = $"{error.Title} - {error.Details}";
                }
            );
            _isLoading = false;
            InvokeAsync(StateHasChanged);

        });

    }

    private async Task SelectOrder(DoorOrder selectedOrder) {
        if (selectedOrder.IsSandBoxed) return;
        await BlazoredModal.CloseAsync(ModalResult.Ok(selectedOrder));
    }

    private async Task Close() {
        await BlazoredModal.CloseAsync();
    }

    private string RowClass(DoorOrder order) {

        if (order.IsSandBoxed) {
            return "cursor-not-allowed bg-red-400";
        } else if (order.ReleasedDate is not null) {
            return "cursor-pointer bg-red-100 hover:bg-red-200";
        } else {
            return "cursor-pointer hover:bg-slate-200";
        }

    }

}
