@using Domain.Companies;
@using ApplicationCore.Features.Orders.Details;
@using ApplicationCore.Features.Orders.OrderExport;
@using Domain.Orders
@using Domain.Orders.ValueObjects;
@using ApplicationCore.Features.Orders.OrderRelease
@using Domain.Infrastructure.Bus;
@using ApplicationCore.Shared.Services;
@using System.Diagnostics
@using Domain.Components
@using Domain.Orders.Enums;
@using ApplicationCore.Pages.OrderDetails;
@using static Domain.Components.DropDown;
@using static Domain.Components.Button;
@using Domain.Companies.ValueObjects;
@using Domain.Orders.Entities.Products;
@using Domain.Orders.Entities.Products.Cabinets;
@using Domain.Orders.Entities.Products.Closets;
@using Domain.Orders.Entities.Products.Doors;
@using Domain.Orders.Entities.Products.DrawerBoxes;
@using Domain.Services
@inject IFilePicker FilePicker
@inject IBus Bus
@inject NavigationService NavigationService

@if (_isLoading) {
    <span>Loading...</span>
} else if (_order is null) {
    <span>Order was not found or could not be loaded</span>
} else {

    <section>
        <OrderWarnings Order="_order" />
    </section>

    <section class="grid grid-cols-2" id="header">

        <div class="pl-10">

            <OrderHeaderWidget OrderId="_order.Id" />

            @if (_order.Info.Count != 0) {
                <div class="mt-5">
                    <span class="text-xs ml-1 text-gray-400">Other info</span>
                    <table>
                        <tbody>
                            @if (!_order.Info.Any()) {
                                <tr><td colspan="2">No other order info</td></tr>
                            }
                            @foreach (var item in _order.Info) {
                                <tr>
                                    <td class="pr-3 font-medium">@item.Key</td>
                                    <td>@item.Value</td>
                                </tr>
                            }
                            <!--
                            <tr>
                            <td class="text-center cursor-pointer font-semibold hover:bg-blue-100 hover:text-blue-700 rounded-md">+ Add</td>
                            </tr>
                            -->
                        </tbody>
                    </table>
                </div>
            }
        </div>

        @if (ActionPanel is not null){
            <div id="actions">
                @ActionPanel(_order)
            </div>
        }

    </section>

    <section class="mt-10" id="order_note">
        <div class="px-12">
            <label for="note" class="mr-5">Note</label>
            <Button OnClickAsync="@SaveNoteAsync" Size="ButtonSize.XSmall" Style="ButtonStyle.Text" Disabled="!_isNoteDirty">Save</Button>
            <textarea id="note" placeholder="Order Note..." class="w-full" @oninput="OnNoteChanged">@_note</textarea>
        </div>
    </section>

    <section class="mt-10" id="working_directory">
        <div class="px-12">
            <WorkingDirectoryWidget OrderId="@_order.Id" />
        </div>
    </section>

    <section class="mt-10 grid grid-cols-2 gap-12" id="shipping_invoice">

        <div id="shipping" >
            <Collapsable>
                <Summary>
                    <h2 class="font-semibold text-lg">Shipping</h2>

                    <div>
                        <label id="shippingmethod" class="text-md w-24 inline-block">Method</label>
                        <span class="text-lg">@_order.Shipping.Method</span>
                    </div>
                </Summary>
                <Content>
                    <h2 class="font-semibold text-lg">
                        Shipping
                    </h2>

                    <div>
                        <label id="shippingmethod" class="text-md w-24 inline-block">Method</label>
                        <span class="text-lg">@_order.Shipping.Method</span>
                    </div>

                    <div>
                        <label id="shippingcontact" class="text-md w-24 inline-block">Contact</label>
                        <span class="text-lg">@_order.Shipping.Contact</span>
                    </div>

                    <div>
                        <label id="shippingphone" class="text-md w-24 inline-block">Phone</label>
                        <span class="text-lg">@_order.Shipping.PhoneNumber</span>
                    </div>

                    <div>                                                                                                                               
                        <h3 class="text-md w-24 inline-block">Address</h3>
                        <div class="ml-5">
                            <div>
                                <label id="shippingline1" class="text-sm w-24 inline-block">Line 1</label>
                                <span class="text-md">@_order.Shipping.Address.Line1</span>
                            </div>

                            <div>
                                <label id="shippingline2" class="text-sm w-24 inline-block">Line 2</label>
                                <span class="text-md">@_order.Shipping.Address.Line2</span>
                            </div>

                            <div>
                                <label id="shippingline3" class="text-sm w-24 inline-block">Line 3</label>
                                <span class="text-md">@_order.Shipping.Address.Line3</span>
                            </div>

                            <div>
                                <label id="shippingcity" class="text-sm w-24 inline-block">City</label>
                                <span class="text-md">@_order.Shipping.Address.City</span>
                            </div>

                            <div>
                                <label id="shippingstate" class="text-sm w-24 inline-block">State</label>
                                <span class="text-md">@_order.Shipping.Address.State</span>
                            </div>

                            <div>
                                <label id="shippingzip" class="text-sm w-24 inline-block">Zip</label>
                                <span class="text-md">@_order.Shipping.Address.Zip</span>
                            </div>

                            <div>
                                <label id="shippingcountry" class="text-sm w-24 inline-block">Country</label>
                                <span class="text-md">@_order.Shipping.Address.Country</span>
                            </div>
                        </div>
                    </div>
                </Content>
            </Collapsable>
        </div>

        <div id="invoice">
            <Collapsable>
                <Summary>
                    <h2 class="font-semibold text-lg">Invoice</h2>

                    <div>
                        <label id="totalprice" class="text-md w-24 inline-block">Total Price</label>
                        <span class="text-lg">$@(_order.Total.ToString("0.00"))</span>
                    </div>
                </Summary>
                <Content>
                    <h2 class="font-semibold text-lg">Invoice</h2>

                    <table class="w-full">
                        <tbody>
                            <tr>
                                <td>Dovetail DBs</td>
                                <td>$@(_order.Products.Where(p => p is DovetailDrawerBoxProduct).Sum(p => p.UnitPrice * p.Qty).ToString("0.00"))</td>
                            </tr>
                            <tr>
                                <td>Doweled DBs</td>
                                <td>$@(_order.Products.Where(p => p is DoweledDrawerBoxProduct).Sum(p => p.UnitPrice * p.Qty).ToString("0.00"))</td>
                            </tr>
                            <tr>
                                <td>Cabinets</td>
                                <td>$@(_order.Products.Where(p => p is Cabinet).Sum(p => p.UnitPrice * p.Qty).ToString("0.00"))</td>
                            </tr>
                            <tr>
                                <td>Cabinet Parts</td>
                                <td>$@(_order.Products.Where(p => p is CabinetPart).Sum(p => p.UnitPrice * p.Qty).ToString("0.00"))</td>
                            </tr>
                            <tr>
                                <td>Closet Parts</td>
                                <td>$@(_order.Products.Where(p => p is IClosetPartProduct).Sum(p => p.UnitPrice * p.Qty).ToString("0.00"))</td>
                            </tr>
                            <tr>
                                <td>Zargen DBs</td>
                                <td>$@(_order.Products.Where(p => p is ZargenDrawer).Sum(p => p.UnitPrice * p.Qty).ToString("0.00"))</td>
                            </tr>
                            <tr>
                                <td>MDF Doors</td>
                                <td>$@(_order.Products.Where(p => p is MDFDoorProduct).Sum(p => p.UnitPrice * p.Qty).ToString("0.00"))</td>
                            </tr>
                            <tr>
                                <td>Five-Piece Doors</td>
                                <td>$@(_order.Products.Where(p => p is FivePieceDoorProduct).Sum(p => p.UnitPrice * p.Qty).ToString("0.00"))</td>
                            </tr>
                            <tr>
                                <td>Others</td>
                                <td>$@(_order.AdditionalItems.Sum(p => p.UnitPrice).ToString("0.00"))</td>
                            </tr>
                            <tr class="border-t-2">
                                <td class="w-1/3 font-medium">Sub Total</td>
                                <td>$@(_order.SubTotal.ToString("0.00"))</td>
                            </tr>
                            @if(_order.PriceAdjustment != 0M) {
                                <tr>
                                    <td class="w-1/3">Price Adj.</td>
                                    <td>$@(_order.PriceAdjustment.ToString("0.00"))</td>
                                </tr>
                                <tr>
                                    <td class="w-1/3">Net Total</td>
                                    <td>$@(_order.AdjustedSubTotal.ToString("0.00"))</td>
                                </tr>
                            }
                            <tr>
                                <td class="w-1/3">Tax</td>
                                <td>$@(_order.Tax.ToString("0.00"))</td>
                            </tr>
                            <tr>
                                <td class="w-1/3">Shipping</td>
                                <td>$@(_order.Shipping.Price.ToString("0.00"))</td>
                            </tr>
                            <tr class="border-t-2">
                                <td class="w-1/3 font-semibold">Total Price</td>
                                <td>$@(_order.Total.ToString("0.00"))</td>
                            </tr>
                        </tbody>
                    </table>
                </Content>
            </Collapsable>
        </div>

    </section>

    <section class="mt-16" id="products">

        <header class="mb-5">
            <h2 class="font-bold text-xl">@_order.Products.Sum(b => b.Qty) Products</h2>
        </header>

        <!--
        <div class="flex space-x-3 mb-5">
        <button class="px-3 py-2 text-sm whitespace-nowrap rounded-md bg-slate-900 text-white">All</button>
        <button class="px-3 py-2 text-sm whitespace-nowrap rounded-md bg-slate-100 hover:bg-slate-200">Closet Parts</button>
        <button class="px-3 py-2 text-sm whitespace-nowrap rounded-md bg-slate-100 hover:bg-slate-200">Cabinets</button>
        <button class="px-3 py-2 text-sm whitespace-nowrap rounded-md bg-slate-100 hover:bg-slate-200">Cabinet Parts</button>
        <button class="px-3 py-2 text-sm whitespace-nowrap rounded-md bg-slate-100 hover:bg-slate-200">Doweled DBs</button>
        <button class="px-3 py-2 text-sm whitespace-nowrap rounded-md bg-slate-100 hover:bg-slate-200">Doweled DBs</button>
        <button class="px-3 py-2 text-sm whitespace-nowrap rounded-md bg-slate-100 hover:bg-slate-200">Zargen DBs</button>
        <button class="px-3 py-2 text-sm whitespace-nowrap rounded-md bg-slate-100 hover:bg-slate-200">MDF Doors</button>
        <button class="px-3 py-2 text-sm whitespace-nowrap rounded-md bg-slate-100 hover:bg-slate-200">5-Piece Doors</button>
        </div>
        -->

        <div class="mb-5">
            <button disabled="@_useInches" @onclick="ToggleUnits" class="bg-slate-100 disabled:bg-black disabled:text-white px-3.5 py-1 rounded-r-none rounded-l-md w-14 transition ease-in-out duration-300">in</button><!--
            --><button disabled="@(!_useInches)" @onclick="ToggleUnits" class="bg-slate-100 disabled:bg-black disabled:text-white px-3.5 py-1 rounded-l-none rounded-r-md w-14 transition ease-in-out duration-300">mm</button>
        </div>

        @if (_order.Products.Count == 0) {
            <span>No products in order</span>
        } else {

            var first = Rooms.FirstOrDefault();
            var last = Rooms.LastOrDefault();
            foreach (var room in Rooms) {
                <Room Model="room"
                      Index="Rooms.IndexOf(room)"
                      IsFirst="first!.Equals(room)"
                      IsLast="last!.Equals(room)"
                      UseInches="_useInches"
                      ProductActionsColumn="ProductActionsColumn" />
            }

        }

    </section>

    <section class="mt-16" id="additional_items">

        <div class="mb-5">
            <span class="font-bold text-xl">@_order.AdditionalItems.Sum(i => i.Qty) Additional Items</span>
        </div>

        <div class="border border-slate-100 rounded-md">
            <table class="table-auto w-full rounded-md">
                <thead class="border-b bg-slate-100">
                    <tr>
                        <th class="p-5">Qty</th>
                        <th class="p-5">Description</th>
                        <th class="p-5">Unit $</th>
                        <th class="p-5">Ext. $</th>
                    </tr>
                </thead>
                <tbody>
                    @if (_order.AdditionalItems.Count == 0) {
                        <tr>
                            <td colspan="3" class="text-center p-5 font-medium">No Additional Items in Order</td>
                        </tr>
                    }
                    @foreach (var item in _order.AdditionalItems) {
                        <tr class="text-center hover:bg-blue-500/10 cursor-pointer" @onclick="async () => await OpenAdditionalItemModal(item)">
                            <td class="p-5 border-b">@item.Qty</td>
                            <td class="p-5 border-b font-medium">@item.Description</td>
                            <td class="p-5 border-b">@item.UnitPrice.ToString("$0.00")</td>
                            <td class="p-5 border-b">@((item.UnitPrice * item.Qty).ToString("$0.00"))</td>
                        </tr>
                    }
		        </tbody>
	        </table>
        </div>

	</section>

}
