@using ApplicationCore.Features.Orders.Shared.Domain.Products;
@using ApplicationCore.Features.Orders.Shared.Domain;
@using ApplicationCore.Shared.Components
@using static ApplicationCore.Features.Orders.Details.OrderDetails;

<div class="overflow-x-auto rounded-md">
    <table class="table-auto">
        <thead class="border-b border-slate-300">
            <tr>
                <th class="p-5">#</th>
                <th class="p-5">Qty</th>
                <th class="p-5">Width</th>
                <th class="p-5">Length</th>
                <th class="p-5">Framing Bead</th>
                <th class="p-5">Edge Detail</th>
                <th class="p-5">Panel Drop</th>
                <th class="p-5">Paint</th>
                <th class="p-5">Room</th>
                <th class="p-5">Unit $</th>
                <th class="p-5">Ext. $</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in MDFDoors) {
                <tr>
                    <td class="whitespace-nowrap p-5 border-b text-center">@row.ProductNumber</td>
                    <td class="whitespace-nowrap p-5 border-b text-center">@row.Qty</td>
                    @if (UseInches) {
                        <td class="whitespace-nowrap p-5 border-b text-center">@((MarkupString)row.Width.GetFormatedFraction())"</td>
                        <td class="whitespace-nowrap p-5 border-b text-center">@((MarkupString)row.Height.GetFormatedFraction())"</td>
                    } else {
                        <td class="whitespace-nowrap p-5 border-b text-center">@row.Width.AsMillimeters().ToString("0.00")</td>
                        <td class="whitespace-nowrap p-5 border-b text-center">@row.Height.AsMillimeters().ToString("0.00")</td>
                    }
                    <td class="whitespace-nowrap p-5 border-b text-center">@row.FramingBead</td>
                    <td class="whitespace-nowrap p-5 border-b text-center">@row.EdgeDetail</td>
                    @if (UseInches){
                        <td class="whitespace-nowrap p-5 border-b text-center">@((MarkupString)row.PanelDrop.GetFormatedFraction())"</td>
                    } else {
                        <td class="whitespace-nowrap p-5 border-b text-center">@row.PanelDrop.AsMillimeters().ToString("0.00")</td>
                    }
                    <td class="whitespace-nowrap p-5 border-b text-center">@(row.PaintColor is null ? "N/A" : row.PaintColor)</td>
                    <td class="whitespace-nowrap p-5 border-b text-center">@row.Room</td>
                    <td class="whitespace-nowrap p-5 border-b text-center">@row.UnitPrice.ToString("$0.00")</td>
                    <td class="whitespace-nowrap p-5 border-b text-center">@((row.UnitPrice * row.Qty).ToString("$0.00"))</td>
                </tr>

                @if (row.Note != string.Empty) {
                    <tr>
                        <td class="p-5 font-bold border-b text-red-500" colspan="11">
                            Note: @row.Note
                        </td>
                    </tr>                        
                }

            }
        </tbody>
    </table>
</div>


@code {

    [Parameter]
    public IEnumerable<MDFDoorProduct> MDFDoors { get; set; } = Enumerable.Empty<MDFDoorProduct>();

    [Parameter]
    public bool UseInches { get; set; }

}